#max{
    --size:50vmax;    
         width:var(--size);
        height:var(--size);
        position: fixed;
        left: calc((100vw - var(--size)) / 2);
        top: calc((100vh - var(--size)) / 2);
        background-color: hotpink;
}
#min{
    --size:50vmin;    
         width:var(--size);
        height:var(--size);
        position: fixed;
        left: calc((100vw - var(--size)) / 2);
        top: calc((100vh - var(--size)) / 2);
        background-color: indigo;
}
#text{
    --size:3vh;
    text-align: center;
    font-size: var(--size);
    padding-top: calc((50% - var(--size)));
}