.footer{
    position: fixed;
    bottom:0px;


}
body{
    background-color: black;
    color: white;
}
#box{
    position: fixed;
    width: 100%;
    height: 100%;
    animation-name: flip;
    animation-delay: 12s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes load {
    0% {
		background-position: 4000% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}
#bar{
    position: absolute;
    top: 45%;
    right: 25%;
    width: 50%;
    text-align: center;
    font-size: 500%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(-66.6deg,#D177A3, #D177A3, #6B79C2, #6CD996,#6CD996,#D177A3);
    background-size: 300%;
    border-radius: 10vw;
    animation-name: load;
    animation-duration: 12s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.5,.5,0,1);
    
}
@keyframes flip{
    0%{
        transform: rotateY(0deg);}
   50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
#skew{  
    animation-name: skew;
    animation-duration: 12s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0,0,0,0);
    color: black;
    transform: skewX(-20deg);
}
@keyframes skew{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}
#before{
   opacity: 0;
    animation-name: hide;
    animation-duration: 12.25s;
    animation-iteration-count: 1;
}
@keyframes hide{
    0%{
        opacity: 1;
    }
    99.999%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#after{
    opacity: 1;
    font-size: 80vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     animation-name: show;
     animation-duration: 12.25s;
     animation-iteration-count: 1;
 }
 @keyframes show{
     0%{
         opacity: 0;
     }
     99.999%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }


