#sketch{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    }
canvas{
        display: block;
}
*{
    margin:0;
    padding:0;
}
html {
        overflow: hidden;
        height: 100%;
 }