@font-face {
	font-family: 'RobotoFlex';
	src: url('RobotoFlex-VF.woff2') format('woff2 supports variations'),
       url('RobotoFlex-VF.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
#text{
    font-family: RobotoFlex;
    height: 20vh; 
    line-height: 20vh;
    width: 100%;
   text-align: center;
   
   
}
.option{
    font-size: 3em;
}