#red{
    width: 50%;
    height: 100%;
    left:0;
    top:0px;
    background-color: red;
    position: fixed;
}
#blue{
    width: 50%;
    right:0px;
    top:0px;
    position: fixed;
    height: 99.8%;
    z-index: 1;
    background-color: blue;
}